@import "../styles/core.scss";

#external-links {

  > .links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.5rem;

    > a {
      @include no-link;
      padding: 0.2rem 0.6rem;
      border: 1px solid $border-color;
      border-radius: 0.25rem;

      &:hover {
        background-color: lightgray;
      }

      & + a {
        margin-left: 1rem;
      }
    }
  }
  
}