@import "../styles/core.scss";

html {
  overflow-x: hidden;
  width: 28rem;
  box-sizing: border-box;
  overflow-y: scroll;
}

section#popup {
  width: 28rem;
  background: white;
  font-family: $font;
  min-height: 8rem;
  height: min-content;
  padding: 0.75rem;
  box-sizing: border-box;

  > .options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: stretch;
  }

  input {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    outline: none;
    border-radius: 0.25rem;
    border: 1px solid $border-color;
  }

  .buttons {
    margin-top: 1rem;
    padding-top: 1rem;

    #mass-citations, #mass-citations:active {
      border: none;
      background: none;
      outline: none;
      padding: 0;
      text-decoration: underline dotted;
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }
    }
  }

  #help {
    margin-top: 1rem;
    border-top: 1px solid $border-color;
    padding-top: 0.75rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-sizing: border-box;

    > a {
      @include link;
      color: darkslategray;
    }
  }
}