@import "../styles/core.scss";

section#popup {
  width: 20rem;
  background: white;
  font-family: $font;
  min-height: 8rem;
  height: min-content;
  padding: 0.75rem;

  input {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .buttons {
    margin-top: 1rem;
    padding-top: 1rem;

    #mass-citations, #mass-citations:active {
      border: none;
      background: none;
      outline: none;
      padding: 0;
      text-decoration: underline dotted;
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }
    }
  }

  #help {
    margin-top: 1rem;
    border-top: 1px solid grey;
    padding-top: 0.75rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    > button {
      @include link;
      color: darkslategray;
    }
  }
}