@import "../styles/core.scss";

#results {
  display: flex;
  flex-direction: column;
  margin-top: 0.25rem;
  align-items: flex-start;
  align-content: flex-start;

  .result {

    .link {
      @include link;
    }

    > .details {
      text-transform: uppercase;
      margin-bottom: 0.5rem;

      > .database {
        margin-left: 0.4rem;
      }
    }

    > .case-name,
    > .legislation-name {
      text-align: left;
    }

    > .links {
      margin-top: 1rem;
    }

    > p {
      margin: 0;
    }
  }

  
}