;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[cider/cider-nrepl "0.25.4"]
  [binaryage/oops "0.7.0"]
  [org.clojure/test.check "1.1.0"]]

 :builds
 {:app {:target :node-script
        :main clerkent.main/main
        :output-to "dist/main.js"}
  :test {:target :node-test
         :ns-regexp "-test$"
         :output-to "dist/tests.js"
         :autorun true}}}
