$font: -apple-system,
BlinkMacSystemFont,
"Apple Color Emoji",
"Noto Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Segoe UI",
"Calibri",
Helvetica,
sans-serif;
$border-color: #aaa;

@mixin link {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
  color: blue;
  user-select: text;

  &:hover {
    color: darken(blue, 10%);
  }
}

@mixin no-link {
  color: black;
  text-decoration: none;

  &:hover,
  &:visited {
    color: black;
    text-decoration: none;
  }
}