.clerkent {
  &.case {
    text-decoration: underline dotted;
    cursor: pointer;

    > .clerkent-tooltip {
      display: none;
    }

    &:hover > .clerkent-tooltip {
      display: block;
    }
  }
}

#clerkent-tooltip {
  display: none;
  position: fixed;
  background: black;
  color: white;
  padding: 0.2rem 0.5rem;
  max-width: 15rem;

  > .clerkent-meta {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    > span {
      margin-right: 0.5rem;
    }
    > small {

    }
  }

  a {
    color: lightgray;
  }

  a:hover {
    color: white;
  }
}