@import "../../styles/core.scss";

.admonition {
  border: 1px solid $border-color;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;

  &.clickable {
    cursor: pointer;
    &:hover {
      background-color: darken(white, 5%);
    }
  }

  > .left {
    flex-grow: 1;
    > .header {
      display: inline-flex;
      flex-direction: row;
    }
  }

  > .right {
    > .dismiss-button {
      cursor: pointer;
      font-size: 75%;
    }
  }  
}