@import "../../styles/core.scss";

.select-input {
  > select {
    font-size: 100%;
    height: 100%;
    font-family: $font;
    border: 1px solid $border-color;
    border-radius: 0.25rem;
    padding: 0 0.5rem;
    outline: none;
  }
}