@import "../../styles/core.scss";

.toggle-input {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid $border-color;
  width: fit-content;
  border-radius: 0.2rem;

  > div {
    padding: 0.2rem 0.4rem;
    cursor: pointer;
  }

  > .active {
    background-color: darkslategray;
    color: white;
  }
}